<app-navbar></app-navbar>

<div class="container">
    <div class="row col-12">
        <div class="col-4">
            <div class="d-flex justify-content-end">
                <i class="fa fa-user" style="margin-top: 350px; position: relative;">&nbsp;</i>
                <span style=" font-size:30px; margin-top: 350px; position: relative;"> {{stats.totalUsers}}</span>
                <span style=" font-size:15px; margin-top: 375px; position: relative;"> Members</span>
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-center">
                <i class="fa fa-comments" style="margin-top: 350px; position: relative;">&nbsp;</i>
                <span  class="ml-2" style=" font-size:30px; margin-top: 350px; position: relative;"> {{stats.totalReviews}}</span>
                <br>
                <span style=" font-size:15px; margin-top: 375px; position: relative;"> Reviews</span>
                
            </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-start">
                <i class="fa fa-product-hunt" style="margin-top: 350px; position: relative;">&nbsp;</i>
                <span style=" font-size:30px; margin-top: 350px; position: relative;"> {{stats.totalProducts}}</span>
                <span style=" font-size:15px; margin-top: 375px; position: relative;"> Products</span>
            </div>
        </div>
    </div>
</div>