<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand"> Welcome : <small style="color:blue;">{{userName}}</small></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
      </ul>
      <ul class="navbar-nav"></ul>
      <a (click)="logout()" class="btn btn-primary btn-md" data-toggle="tooltip" title="Logout">
        <span class="fa fa-sign-out">Logout</span>
      </a>
    </div>
  </div>
</nav>
<button class="btn btn-lg btn-light" data-toggle="tooltip" title="back" routerLink="/result/{{code}}"><i
    class="fa fa-arrow-circle-left ml-5"></i></button>

<div class="container side_border">
  <div class="col-sm-12">
    <div class="card card-apperance mb-2">
      <div class="card-header bg-info">
        Product Description
      </div>
      <div class="card-body">
        <p class="card-title" style="font-family:sans-serif"><b>Brand: </b> {{product.productBrand}}</p>
        <p class="card-title" style="font-family:sans-serif"><b>Code: </b> {{product.productCode}}</p>
        <p class="card-title" style="font-family:sans-serif"><b>Name: </b> {{product.productName}}</p>
      </div>
    </div>
    <div class="section_divider"></div>
    <b> All Reviews and Rating</b>
  </div>
  <div *ngFor="let item of reviewList">
    <div *ngIf="(item.approved)">
    <div class="section_divider"></div>
    <div class="row col-12">
      <div class="col-sm-2">
        <p class="t_color"><b>Posted By: </b> {{item.userName}}</p>
      </div>
      <div class="col-sm-8">
        <h5 style="color:red;">{{item.heading}}</h5>
        <div class="row">
          <div class="col-sm-2">
            <p><b> Rating: </b>{{item.rating}}<span class="fa fa-star checked"></span></p>
          </div>
          <div class="col-sm-2">
            <p>{{item.date}}</p>
          </div>
        </div>
        <p>{{item.message}}</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row justify-content-center">
    <div class="card card-center" style="max-width: 400px;" *ngIf="reviewList.length==0||reviewList==null">
      <img class=card-img-top src="../../assets/picture/no_review.png" alt="card image cap">
      <div class="card-body">
        <h4 class="card-title text-center t_color">No reviews available for this product.</h4>
      </div>
    </div>
  </div>
</div>